body {
    background-color: rgb(0, 0, 0);
	font-family: Poppins, sans-serif !important;
	margin: 0;
}
#wrapper {width: 100%;
					margin: 0 auto;
				/** La imagen tiene un ancho de 700px, y ponemos ese ancho de wrapper*/

				}
		header {background-image: url(imagenes/eslabonarmado.jpg);
				height: 152px;    /** ponemos la altura del header, para que aparezca*/
				padding-top: 50px;
				
				 }
					
		#rotulo{position: relative;
				top: 10px;
				text-align: center;
				color: rgb(255, 255, 255);
				font-size: 40px;
            }
		nav { background-color: rgba(122, 121, 120, 0.242); 
				text-align: right;
				padding: 4px;
				font-weight: bold;
				height: 40px;
				display: block;
				clear: both;
				}
		nav {/**white-space: pre-wrap;*/
			letter-spacing: -1px;
			text-align: right;
			height: auto; /*Junto a overflow: hidden; aplicará a nuestro elemento nav el mismo alto que el más alto de sus elementos hijos */
			overflow: hidden; 
			width: 100%;
			left: 0;
			top: 0;
			position: fixed;
			z-index: 1000;
			}
		nav ul li { /**background-color: rgb(255,176,98); 
					border: 1px solid #876823; */
					display: inline-block; 
					padding: 0 7px; 
					margin: 0 5px;
					list-style-type: none;
		 }
		nav a {color: rgb(255, 255, 255);
			text-decoration: none;
			text-shadow: 5px 5px 5px black;
			}
			/** Con el a:hover y poner el color en blanco, pone el enlace en blanco cuando pasas el ratón por encima*/
		nav a:hover {color: rgb(255, 255, 255);
			text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.701);
		}

        #bienvenida {
            background-image: url(imagenes/eslabonarmado1.jpg);
            background-size: 100%;
            height: 550px;
            display: flex;
            align-items: flex-end;
			text-shadow: 5px 5px 5px black;
        }

		h2 {
            color: rgb(255, 253, 253);
            text-decoration: none;
            font-size: 120px;
			text-align: center;
			font-family: 'Bebas Neue';
			margin-left: 50px;
			opacity: 0;
    animation: aparecer 4s ease forwards;
        }
		@keyframes aparecer {
    to {
        opacity: 1;
    }
}

		#bienvenidaTexto {
			margin-left: 90px;
			margin-right: 90px;
		}
		#bienvenidaTexto p {
			text-align: center;
			font-size: 40px;
			font-family: 'Momo Trust Display';
			opacity: 0;
    animation: aparecer 2s ease forwards;
		}
        #bienvenida img {
            height: auto;
            width: 100%;
        }

		h3 {
			text-align: center;
			font-size: 30px;
			color: white;
			text-shadow: 1px 1px 20px rgb(255, 255, 255);
		}
		p{
			text-indent: 1.5em;
		/**el text-indent lo usamos para que los parrafos empiecen dejando un espacio*/
			font-size: 24px;
			color: white;
		}
		img {
			margin: 8px;
			display: block;
    		margin-left: auto;
    		margin-right: auto;
		}
			/** Usamos el nav con el estilo del enlace*/
		#izquierda {width: 48%;
					float: left;
					margin-right: 2%;
				}
		#derecha{ width: 48%;
					float: left;
					margin-left: 2%;
						 }

		#izquiSuperior {
						position: relative;
						padding: auto;
						z-index: 10;
						text-align: center;
						margin-left: 50px;
						margin-right: 50px;
					}
		#derechaSuperior {
							position: relative;
							padding-bottom: 10px;
							padding-left: 2px;
							z-index: 10;
							text-align: center;
							margin-left: 50px;
						margin-right: 50px;
							}
		#izquierdaMedio{
						position: relative;
						padding-bottom: 10px;
						padding-left: 2px;
						z-index: 10;
						text-align: justify;
						}
		#derechaMedio{
						position: center;
						padding-bottom: 10px;
						padding-left: 2px;
						padding-right: 40px;
						z-index: 10;
						text-align: justify;
						text-align: center;
						}
		#izquierdaBajo{
						position: relative;
						padding-bottom: 10px;
						padding-left: 2px;
						z-index: 10;
						text-align: center;
						}
		#derechaBajo{
						position: relative;
						padding-bottom: 10px;
						padding-left: 2px;
						z-index: 10;
						text-align: center;
						}
		#publicacion{
						position: relative;
						padding-bottom: 10px;
						padding-left: 2px;
						z-index: 10;
						text-align: center;
						}
/* From Uiverse.io by Pradeepsaranbishnoi */ 
.social-links,.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-btn {
  cursor: pointer;
  height: 60px;
  width: 60px;
  font-family: 'Titillium Web', sans-serif;
  color: #000000;
  border-radius: 50%;
  box-shadow: 2px 10px 10px rgba(255, 255, 255, 0.1);
  background: white;
  margin: 5px;
  transition: 0.3s;
  justify-content: center;
}

.social-btn svg {
  height: 34px;
  width: 34px;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 0.3s;
  text-align: center;
}

.social-btn:hover {
  width: 150px;
  border-radius: 20px;
}

.social-btn:hover span {
  padding: 2px;
  width: 80px;
}

#instagram svg {
  fill: #ac489a;
}

#spotify svg {
  fill: #0ea837;
}

#facebook {
  fill: #4911ff;
}
#youtube {
	fill: rgb(255, 0, 0);
}
#tiktok {
	fill: rgb(rgb(0, 0, 0));
}
#applemusic {
	fill: rgb(204, 36, 56);
}
footer {
	background-color: rgb(0, 0, 0); 
				text-align: left;
				padding: 4px;
				height: 100px;
				display: block;
				clear: both;
}
 #headerhistoria {
            background-image: url(imagenes/eslabonarmado3r.jpg);
            background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
            height: 700px;
            display: flex;
            align-items: flex-end;
			text-shadow: 5px 5px 5px black;
			
        }
#textoHistoria {
	  position: relative;
    z-index: 1;          /* el contenido queda arriba del video */
    color: white;        /* para que sea visible */
}		

#videoFondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;   /* hace que el video llene toda la pantalla */
    z-index: -1;         /* manda el video al fondo */
	 filter: brightness(40%); /* reduce el brillo del video */
}
#textoHistoria p {
	margin-left: 100px;
	margin-right: 500px;
	font-size: 30px;
}
#headerLanzamientos {
            background-image: url(imagenes/eslabonarmado4.jpg);
            background-size: 100%;
            height: 650px;
            display: flex;
            align-items: flex-end;
			text-shadow: 5px 5px 5px black;
}

#portadas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;          /* sin separación */
    margin: 0;
    padding: 0;
}

/* Todas las imágenes a color por defecto */
#portadas img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    filter: grayscale(0%);
    transition: filter 0.3s ease;
    object-fit: cover;  /* opcional */
}

/* Cuando el cursor entra al contenedor, todas se vuelven gris */
#portadas:hover img {
    filter: grayscale(100%);
}

/* La imagen bajo el cursor queda a color */
#portadas img:hover {
    filter: grayscale(0%);
}
#headerIntegrantes {
            background-image: url(imagenes/eslabonarmado7.jpg);
            background-size: 100%;
            height: 700px;
            display: flex;
            align-items: flex-end;
			text-shadow: 5px 5px 5px black;
}
/* CONTENEDOR PRINCIPAL */
.galeria {
    display: flex;
    width: 100%;
    height: 720px;
    overflow: hidden;
}

/* CADA PANEL ES UN <a> */
.galeria .panel {
    flex-grow: 1;
    width: 0px;                /* inicia colapsado */
    position: relative;
    overflow: hidden;
    transition: .5s ease;
    display: block;
    text-decoration: none;
}

/* EXPANSIÓN */
.galeria .panel:hover {
    width: 75%;
}

/* IMAGEN */
.galeria .panel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .8;
    filter: grayscale(1);
    transition: .5s ease;
}

/* COLOR AL HACER HOVER */
.galeria .panel:hover img {
    opacity: 1;
    filter: grayscale(0);
}

/* TEXTO */
.galeria .panel .texto {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: white;
    opacity: 0;
    transition: .3s ease;
    pointer-events: none;
    text-shadow: 5px 5px 5px black;
}

/* TEXTO APARECE */
.galeria .panel:hover .texto {
    opacity: 1;
}
#headerImagenes {
	 background-image: url(imagenes/eslabonarmado6.jpg);
            background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
            height: 700px;
            display: flex;
            align-items: flex-end;
			text-shadow: 5px 5px 5px black;
}
.modal-contenido {
    width: 700px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    animation: zoom .3s;
}

#headerNewestler{
	 background-image: url(imagenes/eslabonarmado5.jpg);
            background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
            height: 700px;
            display: flex;
            align-items: flex-end;
			text-shadow: 5px 5px 5px black;
}
#formulario a{
					  display:block;
					  color:#444a57;  
					  text-decoration:none;
					  font-weight:bold;
					  margin-top:40px;
					  text-align:center;
					}

		#formulario{
					  position:relative;
					  top:20px;
					  height:685px;
					  width:800px;
					  background-size:cover;
					  margin-left:auto;
					  margin-right:auto; 
					}

		.module{
				  position:relative;
				  top:2%;    
				  height:70%;
				  width:450px;
				  margin-left:auto;
				  margin-right:auto;
				  border-radius:50px;
				  background:RGBA(255,255,255,1);
				    
				  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
				  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
				  
				}

		.module ul{
				  list-style-type:none;
				  margin:0;
				}

		.tab{
			  float:left;
			  height:60px;
			  width:50%;
			  padding-top:20px;
			  box-sizing:border-box;
			  background:#eeeeee;  
			  text-align:center;
			  cursor:pointer;
			  transition:background .4s;
			}

		.tab:first-child{  
						  -webkit-border-radius: 5px 0px 0px 0px;
						  border-radius: 5px 0px 0px 0px;
						}

		.tab:last-child{  
						  -webkit-border-radius: 0px 5px 0px 0px;
						  border-radius: 5px 50px 0px 0px;
						}

		.tab:hover{  
				  background-color:rgba(0,0,0,.1);
				}

		.activeTab{
				  background:#fff;
				}

		.activeTab .icon{
						  opacity:1;
						}

		.icon{
			  height:24px;
			  width:24px;
			  opacity:.2;
			}

		.form{
			  float:left;
			  height:86%;
			  width:100%;
			  box-sizing:border-box;
			  padding:40px;
			}

		.textbox{
				  height:50px;
				  width:100%;
				  border-radius:20px;
				  border:rgba(194, 187, 187, 0.996) 2px solid;
				  box-sizing:border-box;
				  padding:10px;
				  margin-bottom:15px;
				}
		.textbox:focus{
					  outline:none;
					   border:rgba(24,149,215,1) 2px solid;
					   color:rgba(24,149,215,1);
					}

		.button{
				  height:50px;
				  width:100%;
				  border-radius:50px;
				  border:rgba(0,0,0,.3) 0px solid;
				  box-sizing:border-box;
				  padding:10px;
				  margin-bottom:30px;
				  background: rgb(0, 0, 0);
				  color:#FFF;
				  font-weight:bold;
				  font-size: 12pt;
				  transition:background .4s;
				  cursor:pointer;
				}

		.button:hover{
					  background:rgb(56, 120, 27);
					  
					}
#yo
	#yo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* centra vertical */
    align-items: center;      /* centra horizontal */
    text-align: center;
    gap: 0px;                /* separación bonita entre elementos */
}
#perfilFoto {
	width: 100px;
	border-radius: 50%;
}
#redeslogos img {
	width: 30px;
}
#yo p{
	color: #000000;
	font-weight: bold;
}
.galeriaIma {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}


.galeriaIma img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: .3s;
	object-fit: cover;
	display: block;
}

.galeriaIma img:hover {
    transform: scale(1.05);
}

footer {
	background-color: #000000;
	height: 130px;
	
}
footer p {
	color: rgb(255,255,255);
	font-size: medium;
}